@page
@model MangaOnline.Pages.Manage.listmangaModel
@{
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row">
                    <div class="col-12"> 
                        <div class="d-flex justify-content-between align-items-center">                     
                            <h2 class="content__title">Danh Sách Truyện</h2>
                            <a href="/manage/addnewmanga" class="section__btn" style="margin-right: auto;">Thêm mới</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        @{
                            foreach (var manga in Model.manga)
                            {
                                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                                    <div class="card">
                                        <div class="card__cover">
                                            <a class="tag-image">
                                                <samp>
                                                    <small>Chương @manga.Chapteres.Count</small>
                                                </samp>
                                            </a>
                                            <img class="img-top-month" src="~/image/manga-image/@manga.Image" alt="">
                                            <a asp-page="/Public/DetailManga" asp-route-id="@manga.Id" class="card__play">
                                                <i class="icon ion-ios-play"></i>
                                            </a>
                                        </div>
                                        <div class="card__content">
                                            <h3 class="card__title">
                                                <a asp-page="/Public/DetailManga" asp-route-id="@manga.Id">@manga.Name</a>
                                            </h3>
                                            <span class="card__category">
                                                @foreach (var categoryManga in manga.CategoryMangas)
                                                {
                                                    <a asp-page="/Public/CategoriesList" asp-route-cateName="@categoryManga.Category.Name">@categoryManga.Category.Name</a>
                                                }
                                            </span>
                                            <span class="card__rate">
                                                <i class="icon ion-ios-star"></i>@manga.Star
                                            </span>
                                            <span class="card__rate" style="margin-left: 5px;">
                                                <i class="icon ion-ios-eye"></i>
                                                @await Component.InvokeAsync("FormatNumber", manga.ViewCount)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

