@page "/tim-truyen"
@using MangaOnline.ModelCore
@using MangaOnline.Models
@using Newtonsoft.Json
@model CategoriesList

@{
    Layout = "_Layout";
	ViewData["Title"] = "Tìm truyện tranh online";
}

@{
    var listManga = Model.listManga;
    var mangaCategoryDict = Model.mangaCategoryDict;
    
    var accessToken = HttpContext.Request.Cookies["USER_DATA"];
    UserCookie user2 = new UserCookie();
    var avatarLink = "/lib/img/avatar-default.jpg";
    if (accessToken is not null)
    {
        user2 = JsonConvert.DeserializeObject<UserCookie>(accessToken);
        if (user2.Avartar is not null)
        {
            avatarLink = "/image/avartar-user/" + user2.Avartar;
        }
    }
    else
    {
        user2 = null;
    }

    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    routeUrl = routeUrl + "?genre=" + Model.Genre + "&status=" + Model.Status + "&rating=" + Model.Rating + "&sort=" + Model.Sort+"&index=";
}

<link rel="stylesheet" href="~/css/MangaListManager.css">

<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Tìm truyện tranh</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item">
                            <a asp-page="/Index">Trang chủ</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--active">Thể loại</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- filter -->
<div class="filter">
	<div class="container">
		<div class="row">
            <div class="col-12">
                <form method="get">
                    <div class="filter__content">
                        <div class="filter__items">
                            <!-- filter item -->
                            <div class="filter__item" id="filter__genre">
                                <span class="filter__item-label">Thể loại:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" 
                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="@Model.Genre">
                                    <input asp-for="@Model.Genre" type="hidden" value="@Model.Genre"/>
                                    <span></span> 
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                    @foreach (var cate in Model.Categories)
                                    {
                                        <li>@cate.Name</li>
                                    }
                                </ul>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__status">
                                <span class="filter__item-label">Trạng thái:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="@Model.Status">
                                    <input asp-for="@Model.Status" type="hidden">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-status">
                                    <li>Hoàn thành</li>
                                    <li>Đang cập nhật</li>
                                    <li>Dừng cập nhật</li>
                                </ul>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__sort">
                                <span class="filter__item-label">Sắp xếp theo:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="@Model.Sort">
                                    <input asp-for="@Model.Sort" type="hidden">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                                    <li>Ngày cập nhật</li>
                                    <li>Top view</li>
                                    <li>Top followers</li>
                                </ul>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__rating">
                                <span class="filter__item-label">Rating:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-rating" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="@Model.Rating">
                                    <input asp-for="@Model.Rating" type="hidden">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-rating">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                </ul>
                            </div>
                            <!-- end filter item -->
                        </div>

                        <!-- filter btn -->
                        <div class="label-apply">
                            <div class="filter__item" style="margin-right: 20px;">
                                <a href="/manage/listmanga">
                                    <div class="btn-status-plink">
                                        <i class="icon ion-ios-refresh-circle"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="filter__item">
                                <button class="btn-status-plink" type="submit">
                                    Áp dụng
                                </button>
                            </div>
                        </div>
                        <!-- end filter btn -->
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>
<!-- end filter -->

<!-- catalog -->
<div class="catalog" style="padding-top: 20px">
    <div class="container">
        <div class="row">
            <!-- card -->
            @foreach (var manga in listManga)
            {
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="/image/manga-image/@manga.Image" alt="@manga.Name" style="height: 237.03px; width: 160px;">
                            <a asp-page="/Public/DetailManga" asp-route-id="@manga.Id" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a asp-page="/Public/DetailManga" asp-route-id="@manga.Id">@manga.Name</a>
                            </h3>
                            <span class="card__category">
                                @{
                                    var categories = mangaCategoryDict[manga.Id];
                                    foreach (var category in categories)
                                    {
                                        <a asp-page="/Public/CategoriesList" asp-route-cateName="@category.Name">@category.Name</a>
                                    }
                                }
                            </span>
                            <span class="card__rate"><i class="icon ion-ios-star"></i>@manga.Star</span>
                            <span class="card__rate" style="margin-left: 5px;">
                                <i class="icon ion-ios-eye"></i>
                                @await Component.InvokeAsync("FormatNumber", manga.ViewCount)
                            </span>
                        </div>
                    </div>
                </div>
            }
            <!-- end card -->

            <!-- paginator -->
                <div class="col-12">
                    <ul class="paginator">
                        @{
                            var back = Model.PageIndex>1?"":"disabled";
                            var next = Model.PageIndex!=Model.LastPage?"":"disabled";
                        }
                        <li class="paginator__item paginator__item--prev @back">
                            
                            <a href="@routeUrl@(Model.PageIndex-1)" class="">
                                <i class="icon ion-ios-arrow-back"></i>
                            </a>
                        </li>
                        @{
                            if (Model.PageIndex>1)
                            {
                                <li class="paginator__item ">
                                    <a href="@routeUrl@(Model.PageIndex-1)">@(Model.PageIndex-1)</a>
                                </li>
                            }
                            <li class="paginator__item paginator__item--active">
                                <a>@Model.PageIndex</a>
                            </li>
                            if (Model.PageIndex!=Model.LastPage)
                            {
                                <li class="paginator__item">
                                    <a href="@routeUrl@(Model.PageIndex+1)">@(Model.PageIndex+1)</a>
                                </li>
                            }
                        }
                        <li class="paginator__item paginator__item--next @next">
                            <a href="@routeUrl@(Model.PageIndex+1)">
                                <i class="icon ion-ios-arrow-forward"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end paginator -->
        </div>
    </div>
</div>
<!-- end catalog -->
